*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus{
    color: inherit;
}
img{
    max-width: 100%;
}
#demo-form2 .sec-tittle {
    font-size: 16px;
    font-weight: 600;
}
#demo-form2 .form-felids-wrap {
    box-shadow: 0 0 2px 0 rgba(0 0 0 /20%);
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 8px;
}
.label-align {
    text-align: left;
}
.choose-file-wrap {
    margin: 5px 0 0;
}
.choose-file-wrap img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border: 1px solid #eee;
    padding: 4px;
}
.choose-file-wrap .choose-file-single figure {
    max-width: 180px;
}

.choose-file-multiple {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}
input[type="file"].form-control {
    height: auto;
}

.choose-file-wrap figure {
    margin: 0;
    position: relative;
}

.choose-file-wrap figure span.closed_btn svg {
    width: 100%;
    height: 100%;
}

.choose-file-wrap figure span.closed_btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.form-control {
    border-radius: 8px;
}

.choose-file-single {
    margin: 10px 0  0;
}

.nav_title.admin-logo {
    height: 80px;
    padding: 0px;
}

.nav_title.admin-logo .site_title {
    height: 100%;
    padding: 8px 10px;
}

.nav_title.admin-logo .site_title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul.pagination {
    justify-content: flex-end;
}

.right_col .row {
    display: block !important;
}
.col-md-4.col-sm-4.tile_stats_count {
    max-width: 13%;
}

@media  (max-width:1199px){
    .col-md-4.col-sm-4.tile_stats_count {
        max-width: 20%;
    }
}

@media  (max-width:575px){
    .col-md-4.col-sm-4.tile_stats_count {
        max-width: 33%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


