@media only screen and (max-width:1399px) {
    /* .logo img {
        max-width:160px;
    }
    .navigation div#mySidenav ul li a {
        font-size: 14px;
    }
    li.social-media a i {
        font-size: 18px;
    }
    .second-clearfix ul li a {
        padding: 20px 15px;
        font-size: 16px;
    }
    .navigation {
        padding: 10px 40px;
    }
    .envira-gallery .container{
        padding-left: 40px;
    } */
}

@media only screen and (max-width:1199px) {
    /* .envira-gallery .container{
        padding-left: 0px;
    }
    .navigation {
        padding: 10px 0px;
    }
    .logo img {
        max-width: 140px;
    }
    .second-clearfix ul li a {
        padding: 15px 10px;
        font-size: 14px;
    } */
  }



@media only screen and (max-width: 991px) {

    /* .main-page {
        position: static;
    }
    .main-page {
        width: auto;
    } */
    .screen-reader {

        display: none;
    }
    .sidenavs {
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block;
        background-color: #444;
        height: 100vh;
        transition: all 0.3s;
        z-index: 9999999;
        padding-top: 0;
    }
   
    .intro.sidenavs {
        box-shadow: 0 0 0 100vmax #000000a3;

    }
    .intro.sidenavs{
        transform: translateX(0);
    }

    .second-clearfix ul li a {

        display: block;
        padding: 8px 10px;
    }

    .information-text {
        margin-top: 30px;
    }

    .page-header {
        opacity: 1;
    }

    .toggle-bar {
        display: block !important;
        color: #fff;
        font-size: 30px;
    }

    span.closebtn {
        display: none !important;
        text-align: right;
        color: #fff;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 32px;
    }
   
    .navigation div#mySidenavs ul {
        display: block;
    }

    .navigation div#mySidenavs ul li {
        margin-left: 0px;
        padding-bottom: 10px;
    }

    .navigation div#mySidenavs ul li a {
        padding: 7px 20px;
        display: block;
        color: #fff;
    }

    .second-clearfix ul {
        display: block;
    }

    .logo img {
        max-width: 100px;
    }

    .second-clearfix ul li::after {
        display: none;
    }

    a.signup {
        display: none !important;
    }

    li.social-media {
        display: none;
    }

    div#mySidenav {
        margin-left: auto;
        margin-right: 20px;
    }

    ul.sub-menu {
        position: static;
        transform: translateY(0);
        width: 100%;
        opacity: 1;
        visibility: visible;
        display: none;
     background-color: #16a085;;
    }
  

    li.dropdown:hover ul.sub-menu {
        display: block;
    }

    .kadence-posts {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .blog-heading {
        margin-bottom: 5%;
    }
    .sidenavs[style="width: 290px;"] span.closebtn {
        left: -40px;
    }

    .Product-box {
        display: block;
    }

    .Product_image {
        width: 100%;
    }

    .Product_info {
        padding: 15px;
        width: 100%;
        background: #ffffff21;
    }

    .restoration-wrapper.kash .row {
        flex-direction: column-reverse;
    }

    .kad_product .row .col-xl-3.col-lg-4.col-md-6 {
        margin-bottom: 30px;
    }

    .second-clearfix ul li a i {
        margin: 0 10px 0;
    }

    .second-clearfix ul li {
        border-bottom: 1px solid #eee;
    }

    section.subcategories ul.cstmlist {
        display: flex;
        flex-wrap: wrap;
    }

    .size-wrapper select {
        max-width: 100%;
    }

    .margin-small li.type-product {
        width: 50%;
    }

    section.subcategories ul.cstmlist li.central {
        margin: 0 10px 10px 10px;

    }

    .navigation div#mySidenav ul.desk-trt ul.sub-menu {
        position: absolute;
        transform: translateY(0);
        width: 240px;

        opacity: 1;
        visibility: visible;
        display: none;
    }

    .navigation div#mySidenav ul.desk-trt li:hover ul.sub-menu {
        display: block;
    }

    section.fw-area {
        position: static;
        /* background-color: transparent; */
        width: 100%;
        margin-top: 40px;
    }

    .fw-products-box table tr td input {
        /* background-color: #fff; */
        /* border: #fcfcfc; */
        border: 1px solid #0000004f;
    }

    .fw-area-wrap {
        height: 100%;
    }

    ul.top-real li {
        width: 100%;
        float: none;
    }

    ul.top-real li:nth-child(4) {
        text-align: left;
    }

    .orders-wrapper {
        overflow-x: auto;
    }

    .orders-wrapper table {
        width: 100%;
        margin-bottom: 10px;
        min-width: 900px;
    }

    .next-btn {
        margin-top: 30px;
    }

    .wrapper-latest {
        padding: 0 0;
    }

    ul.sub-menu {

        background: #444;
        padding-left: 20px;

    }

    ul.sub-menu li a {
        color: #fff;
    }

    ul.sub-menu::before {
        display: none;
    }
    .Product_image {
        width: 100%;
        height: 370px;
        overflow: hidden;
    }
    .product-animation {
        height: 370px;
    }

  
    .outside-second {
    height: 0;
    }


.intro span.closebtn{display: block!important;}

.intro  .screen-reader{
display:block
}


.search-box {
    width: calc(100% - 20px);
    margin: 0;
    padding: 0;
    border: 0;
}
span.cart-extras-title {
    display: none;
}
ul.sub-menu {
    display: none ;
}
}

@media only screen and (max-width: 767px) {
    button#update_cart {
        margin-top: 20px;
        width: 100%;
    }
    .tinymce ol {
        padding: 0 15px;
    }
    .contact-bnr-text h2 {
        font-size: 55px;
    }
    .product-categories a span {
        padding: 10px 20px;
    }
    .margin-small li.type-product {
        width: 100%;

    }

    li.type-product {
        width: 100%;
    }

    .wt-coupon-wrapper {
        margin-top: 20px;
    }

    .coupon-icons {
        width: 100%;
        float: none;
    }
    .restoration-content {
        padding: 20px;
    }
    .restoration-content p a {
        font-size: 24px;
    }
    /* .main-page {
        padding-bottom: 110px;
    } */
    .blog-heading h2 {
        font-size: 35px;
  }
  .blog-heading {
    margin-bottom: 5%;
}
.panel-widget p {
    font-size: 20px;
}
.panel-grid-cell.refunds {
    margin-top: 40px;
}
.panel-widget p {
    line-height: 30px;}

    textarea#message {
        height: 170px;
    }
    .footercredits p {
        font-size: 15px;
    }
    .Product_image {
        width: 100%;
        height: 260px;
        overflow: hidden;
    }
    .product-animation {
        height: 320px;
    }
    .description-wrapper .row {
        display: block;
    }
    .description-wrapper .row .col-lg-6 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 575px) {
    span.kt-cart-total {
        width: 17px;
        height: 17px;
    }
    .breadcrumbs-wrapper span {
        padding-bottom: 10px;
        display: inline-block;
    }
    .contact-bnr-text h2 {
        font-size: 45px;
    }
    .toggle-bar {
           font-size: 24px;
    }
    .slider.slider-nav .slick-list.draggable .slick-slide {
        float: left;
    }

    .chirs-img {
        width: 100%;
    }

    .billboards {
        margin-top: 20px;
    }

    .chirs {
        width: 100%;
    }

    .kad-shop-top {
        display: flex;
        flex-wrap: wrap;
    }

    section.description {
        padding-top: 18px;
    }

    .canvas-summary h2 {
        font-size: 30px;
    }

    .endpointtitle {
        padding: 20px 0 0 0;
    }

    .account-wrapper {
        padding: 30px 30px 0;
    }

    th.product-price {
        display: none;
    }

    td.product-price {
        display: none;
    }

    .coupon-icons input {
        max-width: 100%;
    }

    .coupon-icons button.button {
        width: 100%;
        margin-top: 18px;
    }

    button.button.satay {
        opacity: .8 !important;
        width: 100%;
        margin-top: 18px;
    }

    .widget-title h3 {
        font-size: 34px;
        max-width: 460px;
    }

    .textwidget p {
        font-size: 15px;
    }

    .custom-wrapper {
        padding: 20px;
    }

    .custom-size-content {
        padding: 10px;
    }

    .custom-size-content h2 {
        font-size: 24px;
    }

    .categories-heading h3 {
        font-size: 26px;
    }
    .restoration-content h2 {
        font-size: 26px;
    }
    .restoration-content {
        padding: 10px;
    }
    .restoration-content p a {
          font-size: 20px;
    }
    .restoration-content p a {
        font-size: 20px;
        line-height: 35px;
    }
    .restoration-content h2 {
         margin-bottom: 10px;
    }
    .footercredits p {
        font-size: 14px;
    }
    /* .main-page {
        padding-bottom: 100px;
    } */
    .restoration-img {
        overflow: hidden;
        height: 220px;
    }
    .so-widget h3 {
        line-height: 35px;
           font-size: 24px;
    }
    .cat-intrinsic {
        height: 210px;
    }
    .tinymce ol li {
        font-size: 15px;
    }
    section.instructions {
        padding: 0px 10px;
    }
    .blog-heading h2 {
        font-size: 27px;
    }
    .kadence-posts-content {
        padding: 1rem;
    }
    .kadence-street h2 a {
        font-size: 19px;
        line-height: normal;
    }
    .panel-widget h2 {
          font-size: 27px;
    }
    .panel-widget p {
        font-size: 17px;
    }
    .kt-info-content-case h4 {
        font-size: 22px;
    }
    section.get-a-quote {
        height: 300px;
    }
    textarea#message {
        height: 130px;
    }
    section.poster-bnr {
        height: 300px;
    }
    .Product_image {
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    .product-categories a img {
        height: 200px;
    }
    section.product-banner {
        height: 300px;
    }
    .Product_info p {
        font-size: 15px;
    }
    span.price {
        font-size: 22px;
    }
    .Product_info h3 {
        line-height: 35px;
        font-size: 24px;
    }
    section.products_list {
        padding: 20px 0;
    }
    .print_paper_type {
        font-size: 15px;
    }
    .product-animation {
        height: 270px;
    }
}
@media only screen and (max-width: 480px) {
    .Product_info h3 {
        font-size: 22px;
    }
    span.price {
        font-size: 20px;
    }
    .product-animation {
        height: 230px;
    }
    .product_details-card h3 {
         font-size: 18px;
    }
    .product_details-card span {
        font-weight: 600;
        font-size: 17px;
    }
}


@media only screen and (max-width: 433px) {
    .navigation div#mySidenav ul {
        display: flex;
        align-items: center;
    }

    .navigation div#mySidenav ul li {
        margin-left: 10px;
    }

    .woocommerce-info p a {
        float: none;

    }

    .widget-title h3 {
        font-size: 24px;
        max-width: 240px;
    }

    .widget-title h3 {
        font-size: 23px;
        max-width: 300px;
    }
    .contact-bnr-text h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 424px) {
    .navigation div#mySidenav ul li {
        margin-left: 4px;
    }

    .navigation div#mySidenav ul li a {
        font-size: 14px;
    }
}
